/* 

.body {
  position: relative;
  height: 100%;
}

.body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slides {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slides img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 */









*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    font-family: 'open sans', sans-serif;
}

.title{
    font-family: 'vidaloka', serif;
}

.title.-border{
   border-bottom: 5px solid #000;
   margin-bottom: 30px;
   padding-bottom: 30px;
}

section.section{
    padding: 80px 0;
}

.card{
    border: 1px solid rgba(0,0,0, .08);
}

.load{
    background-color: #000;
    color: #fff;
    display: block;
    padding: 1em  2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: ease .4s;
}

.load:hover{
   color: #fff;
   opacity: .8;
}

.carousel-inner{
  width: auto;
  align-items: center;
}

